* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.name {
    text-align: center;
    align-items: center;
    background-color: darkgreen;
    border-radius: 10px;
    height: fit-content;
    width: 100%;
    position: fixed;
}

.name h1 {
    color: aliceblue;
    text-transform: uppercase;
}

.header {
    background-image: url(../images/administration.jpg);
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 250px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    z-index: -10;
}

.motto h2 {
    color: rgb(2, 9, 16);
    font-weight: 700;
}

.info {
    width: 60%;
    text-align: center;
    justify-content: center;
    align-content: center;
    color: aliceblue;
    font-size: 23px;
    background: rgb(226, 120, 58);
    border-radius: 10px;
    height: 180px;
    margin: 0 auto 20px;
    border: 3px solid rgb(226, 120, 58);
    padding: 10px;
}

.info h3 {
    font-size: large;
    text-align: justify;
}

.info:hover {
  /*  transform: scale(1.10); */
    background-image: url(/images/class.JPG);
    color: rgb(4, 0, 255);
}

#logo {
    width: 80px;
    height: 80px;
}

/* Menu Styling */
.menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 5px;
    display: flex;
    border-radius: 5px;
}

.mainmenu {
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 100;
}

.menu li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    display: block;
}

.menu li a:hover {
    background: aliceblue;
    color: rgb(10, 1, 1);
}

.menu_icon {
    cursor: pointer;
    padding: 10px;
    display: none;
}

.menu_icon i {
    font-size: 24px;
    color: aliceblue;
    height: 70px;
    width: 70px;
}

/* Responsive Menu */
@media screen and (max-width: 768px) {
    .mainmenu {
        display: none;
        position: absolute;
        top: 100%;
        right: 1px;
        width: fit-content;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        z-index: 100;
        flex-direction: column;
    }
    
    .mainmenu li {
        width: 100%;
        text-align: left;
    }
    
    .mainmenu li a {
        padding: 12px 15px;
        border-bottom: 1px solid #eaeaea;
        color: #000;
    }
    
    .mainmenu li:last-child a {
        border-bottom: none;
    }
    
    .menu_icon {
        display: block;
        float: right;
    }
}

@media screen and (min-width: 769px) {
    .mainmenu {
        display: flex;
        gap: 20px;
    }
}

/* School Name Animation */
.schoolname {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    animation: slideLeft 30s linear infinite; 
    overflow: hidden;
}

.schoolname h1 {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    z-index: 1000;
}

@keyframes slideLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Carousel Styling */
.carousel-container {
    max-width: 100%;
    margin: 0;
    position: absolute;
    overflow: hidden;
    z-index: -1;
}

.carousel-slide {
    display: flex;
    width: 100%;
    height: 500px;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

.text {
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    width: 100%;
    border: 5px solid rgb(228, 141, 10);
    border-radius: 10px;
}

.carousel-slide p {
    font-size: 25px;
    color: rgb(255, 3, 3);
}

/* Navigation buttons */
.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.prev-btn:hover, .next-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Carousel Dots */
.carousel-dots {
    text-align: center;
    padding: 10px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.active {
    background-color: #717171;
}

@media screen and (max-width: 768px) {
    .carousel-slide {
        height: 50vh;
    }
}